<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

                <!-- qualquer coisa diferente de 0 (false) será true-->
<p class="alert alert-info" ng-show="mensagem.length">
    {{mensagem}}
</p>

<div class ="row">
    <div class="col-md-12">
        <form> 
            <div class="input-group">

                <SPAN CLASS="input-group-btn"> <!-- decoração EDOM-->
                     <a href="fotos/new" class="btn btn-primary">Nova Foto</a>                    
                </SPAN>

                <input ng-model="filtro" ng-model-options="{debounce: 500}" class="form-control" placeholder="filtrar"> <!-- delay 500 secounds--> <!-- two way databind-->        
            </div>
       
        </form>
    </div>
</div>

<div class ="row">                                                        <!-- filtros -->
    <meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}"> <!-- regular expressions é somente leitura -->
       <img  class="img-responsive center-block"  src="{{foto.url}}" alt="{{foto.titulo}}">
        <a class="btn btn-primary btn-block" href="fotos/edit/{{foto._id}}">Editar</a>
        <button ng-click="remover(foto)" class="btn btn-danger btn-block" >Remover</button>
    </meu-painel> 

</div>

